<button
  class="btn btn-primary"
  type="button"
  data-toggle="collapse"
  data-target="#projects"
  aria-expanded="false"
  aria-controller="projects"
>
Projects
</button>

<button
  class="btn btn-primary"
  type="button"
  data-toggle="collapse"
  data-target="#education"
  aria-expanded="false"
  aria-controller="education"
>
Education
</button>
