<div class="collapse" id="education">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'Coder_Academy.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        Completed intensive short course in Ruby on Rails.
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'aie-logo.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        Completed '3D Animation And VFX For Film' course.
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'TAFENSWlogo_Black.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        Completed Electrical Trades course.
      </div>
    </div>
  </div>
</div>
