<h1>About me</h1>
<p>Although a late starter to a career in coding, I've finally arrived at the place where I was always meant to be.
I've always played around with all things tech from a young age pulling apart electronic toys to see how they worked.
At the age of 13 my first computer was the popular Commodore 64. I must have spent a good part of my childhood trying to work out BASIC and
 amazing my friends with nifty little 'if-then-else' programs where my friends could get a response from entering their names.
As for larger programs like games, I would spend more time looking at the code wondering how it all worked than playing the game.
Not really understanding the game code I would change different values within the code and then run the program to see what had changed within the game,
 if it would run again at all! The internet was non existant at this time of my life,
  so anything I wanted to know with regard to coding was picked up from books or magazines like 'APC - Australian Personal Computer'
Moving on through my teen years, it was finally time to go and get a job, and reluctantly took an offer as an Electrical Apprentice.
Coding became a side hobby from then on.
Now after 20 years as an electrician, A mid-life career move into coding is well overdue.
</p>
