<div class="app-card-container">
  <div class="card">
    <h1>Interested in working together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-3">
        <div>
          <a class="btn btn-outline-primary" href="mailto:paulwritescode@gmail.com?subject=PortfolioContact"role="button">Email me</a>
        </div>
      </div>


      <div class="col-md-9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26502.888213992563!2d151.
        17865253122517!3d-33.86747227062261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
        1!3m3!1m2!1s0x6b12ae3f3298a729%3A0xef50fa5572780602!2sSydney+CBD%2C+NSW!5e0!3m2!1sen!2sau!4v1511646385026"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
