<h1>Interested in hiring me?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Email</h3>

      <p><a href="mailto:pcalnan71@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>


  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13311
    .968655228491!2d151.34186283372875!3d-33.475554790756476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
    .1!3m3!1m2!1s0x6b72b4e04807d39f%3A0x5017d681632ddd0!2sSaratoga+NSW+2251!5e0!3m2!1sen!2sau!4v1509750224093"
    width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
